
header{

	font-family: Agency FB;
	font-size: 30px;
	color:white;
}
body{
	background-image: url("../imagen/amanecer.jpg.jpg");
	background-position: 100%;
	background-repeat: no-repeat;

	}
.main_frame{
	text-align: center;
	width:100%;
	color:white;

}
form{
	display:inline-block;
	text-align:left;
}

.marco {
	display: grid;
	grid-template-columns: 40px 250px;
	grid-row-gap: 10px;
	width: fit-content;
	border:solid;
	padding: 10px;
		border-color: silver;
		margin-top: 100%;
		margin-right: 60%;
		position: relative;
		
		
	}
input[type=submit]{
	grid-column: 1/span 2;
	width: 100px;
}
